<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bw.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.bw.bean.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="sjsj" property="sjsj" jdbcType="TIMESTAMP" />
    <result column="descriptions" property="descriptions" jdbcType="VARCHAR" />
    <result column="kcl" property="kcl" jdbcType="INTEGER" />
    <result column="cd" property="cd" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="spzt" property="spzt" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bw.bean.Goods" >
    insert into goods (id, pname, price, 
      sjsj, descriptions, kcl, 
      cd, tid, spzt)
    values (#{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{sjsj,jdbcType=TIMESTAMP}, #{descriptions,jdbcType=VARCHAR}, #{kcl,jdbcType=INTEGER}, 
      #{cd,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, #{spzt,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bw.bean.Goods" >
    update goods
    set pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      sjsj = #{sjsj,jdbcType=TIMESTAMP},
      descriptions = #{descriptions,jdbcType=VARCHAR},
      kcl = #{kcl,jdbcType=INTEGER},
      cd = #{cd,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      spzt = #{spzt,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, pname, price, sjsj, descriptions, kcl, cd, tid, spzt
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, pname, price, sjsj, descriptions, kcl, cd, tid, spzt
    from goods
  </select>
</mapper>